* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --headingsFont: "Pacifico", cursive;
  --textFont: "Open Sans", sans-serif;
  --boxShadow: 2px 2px 10px lightslategrey;
  --boxShadow2: 1px 1px 5px lightslategrey;
  --roundBorders: 0.8vw;
}
body {
  overflow-y: hidden;
  overflow-x: scroll;
}
h1,
h2 {
  font-family: var(--headingsFont);
}
h1 {
  text-align: center;
  margin-top: 1vw;
}
h3{
  font-family: var(--textFont);
}
section > h2 {
  font-size: 1.8rem;
}
fieldset,
label,
p {
  font-family: var(--textFont);
}
p.creator {
  font-size: 0.8rem;
}
form > label , fieldset > legend{
  margin-top: 0.5vw;
  font-size: 0.8rem;
  font-weight: 600;
}
fieldset > ul > li >label{
  font-weight: normal;
  font-size: 0.8rem;
}
main {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, minmax(min(100%, 300px), 1fr));
}
section#todoList,
section#progressList, 
section#doneList {
  border: 0.3rem solid orange;
  border-radius: var(--roundBorders);
  height: 100%;
  margin: 1vw;
  padding: 0.8vw;
}
section#addNewTask {
  border: none;
  display: flex;
  height: 5vh;
  flex-flow: column wrap;
}
form,
fieldset {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  
}
form {
  z-index: 888;
  border: 0.5vw solid yellowgreen;
  box-shadow: var(--boxShadow);
  border-radius: var(--roundBorders);
  position: absolute;
  padding: 3vw 1vw;
  top:3vw;
}
fieldset#priority {
  margin-top: 0.3rem;
  border: 1px solid darkgreen;
  padding: 0.5vw;
}
fieldset#priority > ul {
  text-indent: 0.7vw;
  list-style-type: none;
}
button {
  all: initial;
  border-radius: 0.3vw;
  font-family: var(--textFont);
  text-align: center;
  cursor: pointer;
}
button.addNew {
  z-index: 999;
  margin-top: -1vw;
  background: url("assets/plus-solid.svg") no-repeat center 100% transparent;
  background-image: url("assets/plus-solid.svg");
  height: 2vw;
  width: 3vw;
}
button.add {
  background-color: yellowgreen;
  width: 5vw;
  align-self: flex-end;
}
button.editbtn{
  background: url("assets/pencil-alt-solid.svg") no-repeat center 100% transparent;
  height: 1.2vw;
  width: 1.7vw;
}
.hidden {
  display: none;
}
article#cardcontainer{
background-color: #effdae;
padding: 1vw;
box-shadow: var(--boxShadow2);
margin-bottom: 1vw;
}
.btns_container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.8vw;
}
.movebtns{
  /* flex child */
  align-self:flex-end;
   /* flex parent */
  display: flex;
  flex-flow: row wrap;
}
.mvleft{
  margin-right: 0.5vw;
}
.close{
  float: right;
  font-size: 1.2rem;
}
.title:hover{
  cursor: pointer;
  text-decoration: underline;
}
.wrap{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.5vw;
}
.invalid {
  border: 2px solid orangered;
}
input + p{
  display: none;
  font-size: 0.7rem;
  color: orangered;
  font-style: italic;
}
input.invalid + p {
  display: block;
}